# DEPLOYs CONFIGURATION
environments/_credentials.properties
environments/_installers.properties
environments/**/api.jar
environments/**/dist
environments/**/keycloak/themes
environments/**/renergetic-ui/certs

# APIs CONFIGURATION
services/**/application.properties-prd.properties
services/**/.metadata
services/**/target


# IDEs FILES
.idea/
.vscode/
.metadata/
.settings/
.project
.classpath
.factorypath
HELP.md
services/hdrapi/hs_err_pid10848.log
