docker_config/_credentials.properties
docker_config/app/api/*.jar
docker_config/app/hdr-api/*.jar
docker_config/data/api/*.jar
docker_config/app/buildings/*.jar
docker_config/app/front/dist
docker_config/app/keycloak/themes
docker_config_local/app/api/*.jar
docker_config_local/data/api/*.jar
docker_config_local/app/buildings/*.jar
docker_config_local/app/front/dist
docker_config_local/app/keycloak/themes
keycloak/Dockerfile
keycloak/LICENSE.txt
keycloak/bin/
keycloak/docker/
keycloak/docs/
keycloak/domain/
keycloak/jboss-modules.jar
keycloak/keycloak-deployment.yaml
keycloak/keycloak-service.yaml
keycloak/modules/
keycloak/standalone/
keycloak/themes/README.txt
keycloak/themes/base/
keycloak/themes/keycloak.v2/
keycloak/themes/keycloak/
keycloak/version.txt
keycloak/welcome-content/
services/*/target/*.jar
front/prototype/renergetic/node_modules
front/renergetic/node_modules
front/renergetic_ui/node_modules
docker_config_local/app/hdr-api/hdrapi-0.0.1-SNAPSHOT.jar
.idea/
