environments/_credentials.properties
environments/_installers.properties
environments/**/api.jar
environments/**/dist
environments/**/keycloak/themes

services/**/.metadata
services/**/target

front/**

configuration/**/node_modules
